:root {
  --primary-color: #f9a8d4;
  --secondary-color: #9d174d;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: var(--secondary-color);
}

body {
  width: 50%;
  min-width: 400px;
  margin: 15vh auto;
  font-size: 1.2rem;
  background-color: var(--primary-color);
}

label {
  font-size: 1.5rem;
}

small {
  margin-bottom: 1rem;
  display: inline-block;
}

input {
  display: block;
  margin: 1rem auto 0;
  padding: 1rem;
  font-size: inherit;
  border-radius: 1rem;
  max-width: 200px;
  width: 70%;
  min-width: 150px;
  text-align: center;
  color: inherit;
  border: 1px solid var(--secondary-color);
}

input:focus {
  outline: none;
}

button {
  padding: 1rem;
  font-size: inherit;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
}
