:root {
  --primary-color: #f9a8d4;
  --secondary-color: #9d174d;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: var(--secondary-color);
}

body {
  width: 50%;
  min-width: 400px;
  margin: 50px auto;
  font-size: 1.2rem;
  background-color: var(--primary-color);
}

label {
  font-size: 1.5rem;
}

small {
  margin-bottom: 1rem;
  display: inline-block;
}

input {
  display: block;
  margin: 1rem auto 0;
  padding: 1rem;
  font-size: inherit;
  border-radius: 1rem;
  max-width: 250px;
  width: 70%;
  min-width: 150px;
  text-align: center;
  color: inherit;
  border: 1px solid var(--secondary-color);
}

input:focus {
  outline: none;
}

button {
  padding: 1rem;
  font-size: inherit;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
  cursor: pointer;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-list-style li {
  font-weight: 100;
  font-size: 1.2rem;
  display: inline-block;
}

.link {
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
}

.footer-header {
  font-weight: bold;
  font-size: 1.5rem;
}
